 
 @font-face {font-family: 'Museo-700';src: url('webfonts/eot/style_154925.eot?#iefix') format('embedded-opentype'),url('webfonts/woff/style_154925.woff') format('woff'),url('webfonts/ttf/style_154925.ttf') format('truetype'),url('webfonts/svg/style_154925.svg#Museo-700') format('svg');}
 body{
 	background:#5a7221;
 	font-family: Museo-700;
 	font-size:100%;
 }
 *{
	padding: 0px;
	margin: 0px;
 }

 h1{
 	font-size: 24px;
 	margin:10px;
 }


 
 .playerCounter{
 	padding: 15px 25px 15px 25px;
 	background:#333c11;
 }
 
 .playerCounter span {
 	font-family:Museo-700,Verdana,sans-serif;
 	display: inline-block;
 	width: 100px;
 	padding: 3px;
 	margin: 5px;
 }

.playerCounter span.name {
	text-align:left;
	color:#a8b099;
 }

.playerCounter span.name:after {
	content:':';
}

 .playerCounter span.value {
 	background: #fff;
 	color: #465117;
 }

 .playerCounter p.player{
 	background:#52661d;
 	text-align:center;
 }


 .playerCounter p.player:first-child{
 	padding-top:5px;
 }
 .playerCounter p.player:last-child{
 	padding-bottom:5px;
 }


.highscore{
	float:left;
	padding:10px;
	margin:100px 20px 0 20px;
	background:#333c11;
}
 
.highscore h2{
	font-size: 14px;
	color:#a8b099;
 }

.highscore ul{
	background: #5a7221;
	list-style-type: none;
	padding: 3px 0;
}
.highscore span {
 	font-family:Museo-700,Verdana,sans-serif;
 	font-size:12px;
 	display: inline-block;
 	width: 50px;
 	padding: 3px;
 	margin: 0px 5px 0px 5px;
	color:#a8b099;
 }

.highscore span.name {
	text-align:left;
 }
.highscore span.value {
	text-align:right;
 }

 .actions{
	float:left;
	padding:10px;
	margin:100px 20px 0 20px;
	background:#333c11;
 }


 .actions a{
 	display:block;
	color:#a8b099;
	font-size:14px;
	text-decoration: none;
 	font-family:Museo-700,Verdana,sans-serif;
 	text-align: center;
 	margin: 20px 0;
 }

/* settings icon with css3 */
.actions a.settings u{
  	position: relative;
  	display:block;
  	width:0px;
  	height:40px;
  	margin:auto;
  	margin-bottom:10px;
}


.actions a.settings i{
	content: "";
	width: 10px;
	height: 40px;
	background: #ffc800;
	border-radius: 38%;
	display:inline-block;
  	position: absolute;
  	left: -5px;
}

.actions a.settings i:nth-child(1){
}

.actions a.settings i:nth-child(2){
  transform: rotate(-45deg);
}

.actions a.settings i:nth-child(3){
  transform: rotate(-90deg);
}

.actions a.settings i:nth-child(4){
  transform: rotate(-135deg);
}

.actions a.settings i:nth-child(5){
	width: 0px;
	height: 0px;
	border-radius: 50%;
	border: 15px solid  #ffc800;
  	left: -15px;
	top: 5px;
}

.actions a.settings i:nth-child(6){
	width: 0px;
	height: 0px;
	border: 7px solid #333c11;
	border-radius: 50%;
  	left: -7px;
	top: 13px;
}

.actions a.information:before{
	content:'i';
 	font-family:courier;
 	font-style: normal;
 	font-weight: bold;
 	font-size:40px;
 	display:block;
 	color: #ffc800;
}

.actions a.newGame:before{
	content:'';
	width:35px;
	height: 35px;
 	display:block;
 	margin:auto;
 	margin-bottom:10px;
 	background: #ffc800;
}

.posoBoard{
 	background:#000;
 	float:left;
}
.posoBoard table{
	width: 400px;
	height: 400px;
	border-spacing: 0px;
	font-size:0.40em;
	margin:25px;
}

table tr td {
	width: 12.5%;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
}


table tr td:after{ /* nothing to display. presence only ensures that there is no size changes on disableing */
	content:'';
	position: absolute;
	background:transparent;
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
}

table tr td.disabled:after{
	content:'';
	position: absolute;
	background:linear-gradient(45deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
}

table tr td b{
	display: inline-block;
	vertical-align: middle;	
	position:relative;
}
table tr td b::outside{
	background:blue;
}

table tr td b i,
table tr td.disabled:hover b i{
	display: inline-block;
	vertical-align: top;
	font-style: normal;
	font-family: courier;
	font-size:3em;
	font-weight:bold;
	color:#000;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

table tr td:hover b i{
	font-size:3.5em;
}

table tr td.green{
	background:
		linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(50,50,0,0.25) 50%,rgba(50,50,0,0.25) 100%), 
		linear-gradient(90deg, rgba(145,179,91,1) 0%, rgba(112,154,45,1) 100%);
	border: 0.2em solid #45591a;
}

table tr td.green.disabled{
	border:0.2em solid #222909;
}

table tr td.green b,
table tr td.green.disabled:hover b{
	width: 80%;
	height: 80%;
	border-radius: 80%;
	background: #78a234;
	box-shadow: inset 0 0 2em 0.2em #333d11;
	border:0.2em solid #78a234;
}

table tr td.green:hover b{
	box-shadow: inset 0 0 0.5em 0em #333d11;
}


table.blankedOut tr td.green b i{
	color:transparent;
    text-shadow: 0.05em 0.05em 0.05em rgba(112,154,45,0.5), 0 0 0 black;
}



table tr td.red{
	background:
		linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(91,0,0,0.4) 50%,rgba(89,0,0,0.4) 100%), 
		linear-gradient(90deg, rgba(184,90,90,1) 0%, rgba(165,45,45,1) 100%);
	border: 0.2em solid #661915;
}

table tr td.red.disabled{
	border:0.2em solid #331007;
}


table tr td.red b,
table tr td.red.disabled:hover b{
	width: 70%;
	height: 70%;
	background:#Af3232;
	box-shadow: inset 0 0 2em 0.2em #4a0303;
	border:0.2em solid #Af3232;
}

table tr td.red:hover b{
	box-shadow: inset 0 0 0.5em 0em #4a0303;
}


table.blankedOut tr td.red b i{
	color:transparent;
    text-shadow: 0.05em 0.05em 0.05em rgba(165,45,45,0.5), 0 0 0 black;
}

.info{
	display:none;
}
