
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/jqtouch.js"></script>
	<script type="text/javascript" src="js/poso.js"></script>
	<script type="text/javascript" src="dist/app.js"></script>

	<!-- <link rel="stylesheet" type="text/css" href="css/jqtouch.css" />-->
	<link rel="stylesheet" type="text/css" href="css/poso.css" />
	
</head>
<body ng-app="Poso">
	
    <div id="jqt">
        <div id="page2">

<h1>POSO<br/>ein Denkspiel</h1>
    <div class="highscore">
        <h2>Ranking</h2>
        <ul>
            <li><span class="name">Player 1</span><span class="value">100</span></li>
            <li><span class="name">Player 2</span><span class="value">50</span></li>
            <li><span class="name">Player 3</span><span class="value">10</span></li>
            <li><span class="name">Player 4</span><span class="value">5</span></li>
            <li><span class="name">Player 5</span><span class="value">1</span></li>
    </div>
    <div class="posoBoard">
        <table id="" class="blankedOut" ng-controller="boardController">
            <tr ng-repeat="(rowkey, row) in fields track by $index">
                <td ng-repeat="(fieldkey,fieldobj) in row track by $index" board-field obj="fieldobj"></td>
            </tr>
        </table>

        <div class="playerCounter">
            <p player="player1">
            <p player="player2">
        </div>
    </div>
    <p class="actions">
        <a href="" class="newGame">neues Spiel</a>
        <a href="" class="settings"><u><i></i><i></i><i></i><i></i><i></i><i></i></u>Einstellungen</a>
        <a href="" class="information">Informationen</a>
    </p>

<div class="info">
<h2>Spielregeln</h2>
- Rote Felder sind negativ, gr&uuml;ne positiv.<br/>
- Der Spieler spielt gegen einen Computer, der einen virtuellen Spieler darstellt.<br/>
- Beide w&auml;hlen abwechselnd ein Feld, das zu der aktuellen Punktzahl addiert wird.<br/>
- Der beginnende Spieler wird durch Zufall bestimmt. Er kann das erste Feld aus dem kompletten Spielbrett ausw&auml;hlen und entscheidet somit den Startpunkt.<br/>
- Der zweite Spieler hat von diesem Feld ausgehend alle waagerechten und senkrechten Felder zur Auswahl. Er entscheidet mit seinem n&auml;chsten Zug seine Ausrichtung. Die andere bekommt der Gegner.<br/>
- Ab dem 3. Zug kann der jeweilige Spieler die Felder nur in seiner Ausrichtung (waagerecht oder senkrecht) nehmen.<br/>
- Die Reihe/Spalte wird entschieden durch den vorausgehenden Zug.<br/>
- Der Gewinner ist derjenige mit der h&ouml;chsten Punktzahl am Ende.<br/>
- Achtung! Es kann passieren, dass ein Spiel endet, weil der n&auml;chste Spieler kein Feld mehr in seiner Richtung zur Auswahl hat. Auch hier ist die h&ouml;chste Punktzahl f&uuml;r den Sieg entscheidend.<br/>
<br/>
F&uuml;r ein neues Spiel F5 dr&uuml;cken.<br/>
Dir gef&auml;llt das Spiel? Du willst mehr? Du hast Verbesserungsvorschl&auml;ge? Schhreib mir eine <a href="mailto:info@alax.de">E-Mail</a>.
</div>
	</div>
    </div>
</body>
</html>
