
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
	<script type="text/javascript" src="dist/app.js"></script>

	<!-- <link rel="stylesheet" type="text/css" href="css/jqtouch.css" />-->
	<link rel="stylesheet" type="text/css" href="css/poso.css" />
	
</head>
<body ng-app="Poso">
	
    <div id="jqt">
        <div id="page2">

<h1>POSO<br/>ein Denkspiel</h1>
    <div ranking class="ranking"></div>
    <div class="posoBoard">
        <table id="" class="blankedOut" ng-controller="boardController">
            <tr ng-repeat="(rowkey, row) in fields track by $index">
                <td ng-repeat="(fieldkey,fieldobj) in row track by $index" board-field obj="fieldobj"></td>
            </tr>
        </table>

        <div class="playerCounter">
            <p player="player1">
            <p player="player2">
        </div>
    </div>
    <p menu class="actions">
    </p>

	</div>
    </div>
</body>
</html>
